<!--<div id="listing-card-list" class="listing-card-list listings_grid listings_grids">
  <ul class="row premium_slider slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
            
   <div aria-live="polite" class="slick-list draggable">
   <div class="slick-track" style="opacity: 1; width: 4981px; transform: translate3d(-2637px, 0px, 0px);" role="listbox">
   
   <li class="listing-card premium col-md-3 slick-slide slick-cloned" style="width: 293px;" tabindex="-1" role="option" aria-describedby="slick-slide05" data-slick-index="-4" aria-hidden="true">
      <article class="loop_premium">
        <div class="figure">
          <figure>
                                    <a class="listing-thumb" href="http://www.breakmyshow.com/index.php?page=item&amp;id=3936" title="Wonder Woman INOX R City - Ghatkopar (Screen 2) @ 2:35 PM - Friday @ 2 tickets" tabindex="-1"><img class="img-responsive" src="http://www.breakmyshow.com/oc-content/uploads/39/4071_thumbnail.jpg" title="" alt="Wonder Woman INOX R City - Ghatkopar (Screen 2) @ 2:35 PM - Friday @ 2 tickets" width="240" height="200"></a>
                                    <span class="ribbon" style="background-color: green;"> <i class="fa fa-star"></i> </span> </figure>
        </div>
        <div class="listing-attr">
          <h4><a href="http://www.breakmyshow.com/index.php?page=item&amp;id=3936" title="Wonder Woman INOX R City - Ghatkopar (Screen 2) @ 2:35 PM - Friday @ 2 tickets" tabindex="-1">Wonder Woman INOX R City - Ghatkopar (Screen 2) @ 2:35 PM - Friday @ 2 tickets</a></h4>
          <article> <span class="category"><i class="fa fa-ticket"></i>Movie Tickets</span> <span class="location"><i class="fa fa-map-marker"></i>Mumbai                        (Maharashtra)
                        </span> <span class="date"> <i class="fa fa-clock-o"></i> June 9, 2017 </span> </article>
                    <span class="currency-value">300.00 ₹</span>
                                      </div>
      </article>
    </li>
	</div>
	</div>
	<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button>
	</ul>
</div>-->
